
.fire-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    border: solid black 2px;
}

/* Fire Form */
.fire-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 28%;
    padding-left: .5rem;
}

.form-label {
    margin-top: .2rem;
    font-size: 18px;
    font-weight: 500;
}

.form-input {
    border: solid black 1px;
    max-width: 50%;
    width: fit-content;
    font-size: 18px;
    font-weight: 500;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: .2rem;
}

.form-button {
    margin: .2rem .5rem;
    padding: .3rem .5rem;
    border: solid black 1px;
    width: 7rem;
    cursor: pointer;
    box-shadow: 0 2px black;
    transition: .4s;
    font-size: 18px;
    font-weight: 700;
}

.form-button:hover {
    box-shadow: 0 4px black;
    transform: translateY(-2px);
}

.form-button:active {
    transform: translateY(2px);
}

.btn-update {
    background-color: #606c38;
    color: white;
}

.btn-reset {
    background-color: #fefae0;
}

/* Fire Chart */
.fire-chart-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.responsive-container {
    width: 100%;
    height: 100%;
}

.fire-number {
    font-size: 16px;
}