
.enter-password-wrapper {
    width: 100%;
    height: 90%;
    padding: 2.5rem;
    background-color: white;
    border-radius: 1.5rem;
    max-width: 40rem;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: #132B50;
    margin-bottom: 1.5rem;
}

.profile-card {
    display: flex;
    margin-bottom: 1.5rem;
    img {
        width: 78px;
        height: 78px;
    }

    .text {
        margin: auto .5rem;
        
        .account-type {
            color: #132B50;
            font-weight: 500;
        }

        .client-name {
            color: #132B50;
            font-weight: bold;
            font-size: 18px;
        }
    }
}

.form-wrapper {
    margin-bottom: 2rem;
}

.password-wrapper {
    display: flex;
    margin-bottom: 1.5rem;
}

.password-label {
    font-size: 14px;
    font-weight: 700;
    color: #132B50;
}

.password-field-wrapper {
    display: flex;
    border: solid 1px #132B50;
    border-radius: .15rem;
    padding: .7rem;
    width: 80%;
}

input#password {
    width: 90%;
    font-size: 18px;
    color: #132B50;
    margin-left: .75rem;
}

input#password:focus {
    border: none;
}

.lock-icon {
    font-size: 28px;
}

.show-password-icon {
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
    font-size: 28px;
    margin: auto;
    margin-left: 1rem;
}

/* Toggle Switch for Stay Signed In */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch #toggle-stay-signed-in {
    opacity: 0;
    width: 0;
    height: 0;
}


#toggle-stay-signed-in:checked + .slider {
    background-color: #132B50;
}

#toggle-stay-signed-in:focus + .slider {
    box-shadow: 0 0 1px #132B50;
} 

#toggle-stay-signed-in:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.toggle-continue-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.stay-signed-in-wrapper {
    display: flex;
    align-items: center;
}

.stay-signed-in {
    font-size: 16px;
    color: #132B50;
    font-weight: 700;
    margin-left: .6rem;
}

.submit-button {
    width: 6rem;
    height: 3rem;
    background-color: #132B50;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: .7rem;
    align-self:stretch;
    cursor: pointer;
}

.password-reset {
    font-size: 16px;
    text-decoration: underline;
    color: #132B50;
    font-weight: 700;
}
